.tableRow {
  &:nth-child(even) {
    background-color: white;
  }

  &:nth-child(odd) {
    background-color: #f4f7fa;
  }

  &.tableRow_selected {
    background-color: #ADD8E6FF;
  }

  td{
    border: #bbbbbb 1px solid;

    &:nth-child(1) {
      width: 10%;
      text-align: center;
    }
    &:nth-child(2) {
      width: 15%;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      width: 100%;
      margin: 0;
      padding: 0;
    }

    input {
      width: 100%;
    }
  }
  &__input {
    display: flex;
     &:first-of-type {

     }
  }

}

