.buttonsBlock {
  display: flex;
  gap: 6px;

  button {
    padding: 0;
    cursor: pointer;
    border: none;
    background: none;
    transition: opacity .1s ease-in-out;
    &:hover {
      opacity: 0.5;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
