.buttonsBlock {
  display: flex;
  gap: 6px;

  button {
    padding: 0;
    width: 26px;
    height: 26px;
    cursor: pointer;
    border: none;
    background: none;
    transition: opacity .2s ease-in-out;

    &:hover {
      opacity: 0.5;
    }

    svg {
      width: 26px;
      height: 26px;
    }
  }
}
